@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "HinaMincho";
  src: url("../fonts/HinaMincho/HinaMincho-Regular.ttf");
}
@font-face {
  font-family: "KiwiMaru";
  src: url("../fonts/KiwiMaru/KiwiMaru-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole/Luciole-Regular.ttf");
}
/* Variables SCSS */
:root {
  /* TYPOGRAPHIE */
  --fontTitre: "HinaMincho";
  --fontTexte: "OpenSans";
  --fontAlt: "KiwiMaru";
  --fontSize20rem: 2rem;
  --fontSize17rem: 1.7rem;
  --fontSize15rem: 1.5rem;
  --fontSize12rem: 1.2rem;
  --fontSize10rem: 1rem;
  /* Gouttières et Espacements */
  --gouttiere: 20px;
  --marginDesktop: 80px;
  --marginTablet: 20px;
  --marginSmartphone: 20px;
  /* RADIUS */
  --radiusLarge: 30px;
  --radiusMedium: 20px;
  --radiusSmall: 10px;
  --radiusRond: 50%;
}

/* Darkmode */
body.dark-theme {
  /* Palette de couleurs */
  --firstColor: #81A760;
  --secondColor: #4EAAA5;
  --thirdColor: #EBE3D5;
  --fourthColor: #F3EEEA;
  --fifthColor: #B4B4B8;
  /* Couleur des cards */
  --backgroundCard: rgba(48, 48, 48, 0.75);
  --borderColorCard: rgba(255, 255, 255, 0.125);
  /* Couleurs standards */
  --succesColor: hsl(113, 53%, 53%);
  --warningColor: hsl(39, 100%, 67%);
  --errorColor: hsl(0, 100%, 61%);
  --infoColor: hsl(204, 86%, 53%);
  /* Couleur de fond */
  --backgroundColor: #111111;
  --backgroundOpaciteColor: rgba(17, 17, 17, 0.3);
  /* Couleur des textes */
  --textColor: #FFFFFF;
  --textColorReverse: #000000;
}

/* Lightmode */
body.light-theme {
  /* Palette de couleurs */
  --firstColor: #5c7d3f;
  --secondColor: #38807b;
  --thirdColor: #EBE3D5;
  --fourthColor: #F3EEEA;
  --fifthColor: #B4B4B8;
  /* Couleur des cards */
  --backgroundCard: rgba(255, 255, 255, 0.75);
  --borderColorCard: rgba(209, 213, 219, 0.3);
  /* Couleurs standards */
  --succesColor: hsl(113, 53%, 53%);
  --warningColor: hsl(39, 100%, 67%);
  --errorColor: hsl(0, 100%, 61%);
  --infoColor: hsl(204, 86%, 53%);
  /* Couleur de fond */
  --backgroundColor: #FFFFFF;
  --backgroundOpaciteColor: rgba(255, 255, 255, 0.3);
  /* Couleur des textes */
  --textColor: #000000;
  --textColorReverse: #FFFFFF;
}

/* Lightmode */
body.accessible-theme {
  /* TYPOGRAPHIE */
  --fontTitre: "Luciole";
  --fontTexte: "Luciole";
  --fontAlt: "Luciole";
  --fontSize20rem: 1.7rem;
  --fontSize17rem: 1.5rem;
  --fontSize15rem: 1.2rem;
  --fontSize12rem: 1rem;
  --fontSize10rem: 0.9rem;
}

/*Generation des classes pour la largeur des colonnes selon 
les resolutions d'ecrans*/
/*Desktop*/
.large-1-12 {
  width: calc(8.3333333333% - 11 * var(--gouttiere) / 12);
}
.large-2-12 {
  width: calc(16.6666666667% - 5 * var(--gouttiere) / 6);
}
.large-3-12 {
  width: calc(25% - 3 * var(--gouttiere) / 4);
}
.large-4-12 {
  width: calc(33.3333333333% - 2 * var(--gouttiere) / 3);
}
.large-5-12 {
  width: calc(41.6666666667% - 1.4 * var(--gouttiere) / 2.4);
}
.large-6-12 {
  width: calc(50% - 1 * var(--gouttiere) / 2);
}
.large-7-12 {
  width: calc(58.3333333333% - 0.7142857143 * var(--gouttiere) / 1.7142857143);
}
.large-8-12 {
  width: calc(66.6666666667% - 0.5 * var(--gouttiere) / 1.5);
}
.large-9-12 {
  width: calc(75% - 0.3333333333 * var(--gouttiere) / 1.3333333333);
}
.large-10-12 {
  width: calc(83.3333333333% - 0.2 * var(--gouttiere) / 1.2);
}
.large-11-12 {
  width: calc(91.6666666667% - 0.0909090909 * var(--gouttiere) / 1.0909090909);
}
.large-12-12 {
  width: calc(100% - 0 * var(--gouttiere) / 1);
}

/*Container Desktop*/
.container-full {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-marges-desktop {
  padding-left: var(--marginDesktop);
  padding-right: var(--marginDesktop);
}

.container-marges-left-desktop {
  padding-left: var(--marginDesktop);
}

.container-marges-right-desktop {
  padding-right: var(--marginDesktop);
}

/*SmallDesktopScreen*/
@media all and (min-width: 1140px) and (max-width: 1440px) {
  .large-S-1-12 {
    width: calc(8.3333333333% - 11 * var(--gouttiere) / 12);
  }
  .large-S-2-12 {
    width: calc(16.6666666667% - 5 * var(--gouttiere) / 6);
  }
  .large-S-3-12 {
    width: calc(25% - 3 * var(--gouttiere) / 4);
  }
  .large-S-4-12 {
    width: calc(33.3333333333% - 2 * var(--gouttiere) / 3);
  }
  .large-S-5-12 {
    width: calc(41.6666666667% - 1.4 * var(--gouttiere) / 2.4);
  }
  .large-S-6-12 {
    width: calc(50% - 1 * var(--gouttiere) / 2);
  }
  .large-S-7-12 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gouttiere) / 1.7142857143);
  }
  .large-S-8-12 {
    width: calc(66.6666666667% - 0.5 * var(--gouttiere) / 1.5);
  }
  .large-S-9-12 {
    width: calc(75% - 0.3333333333 * var(--gouttiere) / 1.3333333333);
  }
  .large-S-10-12 {
    width: calc(83.3333333333% - 0.2 * var(--gouttiere) / 1.2);
  }
  .large-S-11-12 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gouttiere) / 1.0909090909);
  }
  .large-S-12-12 {
    width: calc(100% - 0 * var(--gouttiere) / 1);
  }
  .container-marges-desktop {
    padding-left: var(--marginTablet);
    padding-right: var(--marginTablet);
  }
  .container-marges-left-desktop {
    padding-left: var(--marginTablet);
  }
  .container-marges-right-desktop {
    padding-right: var(--marginTablet);
  }
}
/*Tablets*/
@media all and (min-width: 640px) and (max-width: 1140px) {
  .medium-1-8 {
    width: calc(12.5% - 7 * var(--gouttiere) / 8);
  }
  .medium-2-8 {
    width: calc(25% - 3 * var(--gouttiere) / 4);
  }
  .medium-3-8 {
    width: calc(37.5% - 1.6666666667 * var(--gouttiere) / 2.6666666667);
  }
  .medium-4-8 {
    width: calc(50% - 1 * var(--gouttiere) / 2);
  }
  .medium-5-8 {
    width: calc(62.5% - 0.6 * var(--gouttiere) / 1.6);
  }
  .medium-6-8 {
    width: calc(75% - 0.3333333333 * var(--gouttiere) / 1.3333333333);
  }
  .medium-7-8 {
    width: calc(87.5% - 0.1428571429 * var(--gouttiere) / 1.1428571429);
  }
  .medium-8-8 {
    width: calc(100% - 0 * var(--gouttiere) / 1);
  }
  /*Container Tablet*/
  .container-full {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container-marges-tablet {
    padding-left: var(--marginTablet);
    padding-right: var(--marginTablet);
  }
  .container-marges-left-tablet {
    padding-left: var(--marginTablet);
  }
  .container-marges-right-tablet {
    padding-right: var(--marginTablet);
  }
}
/*Smartphones*/
@media all and (max-width: 640px) {
  .small-1-4 {
    width: calc(25% - 3 * var(--gouttiere) / 4);
  }
  .small-2-4 {
    width: calc(50% - 1 * var(--gouttiere) / 2);
  }
  .small-3-4 {
    width: calc(75% - 0.3333333333 * var(--gouttiere) / 1.3333333333);
  }
  .small-4-4 {
    width: calc(100% - 0 * var(--gouttiere) / 1);
  }
  /*Container Smartphone*/
  .container-full {
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container-marges-smartphone {
    padding-left: var(--marginSmartphone);
    padding-right: var(--marginSmartphone);
  }
  .container-marges-left-smartphone {
    padding-left: var(--marginSmartphone);
  }
  .container-marges-right-smartphone {
    padding-right: var(--marginSmartphone);
  }
}
/************* Marges et Paddings Génériques **************/
/* On génère des marges multiples de 10 */
/* Génération des margins */
/* Génération des paddings */
.margin-top-10px {
  margin-top: 10px;
}
.margin-top-20px {
  margin-top: 20px;
}
.margin-top-30px {
  margin-top: 30px;
}
.margin-top-40px {
  margin-top: 40px;
}
.margin-top-50px {
  margin-top: 50px;
}
.margin-top-60px {
  margin-top: 60px;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.margin-bottom-20px {
  margin-bottom: 20px;
}
.margin-bottom-30px {
  margin-bottom: 30px;
}
.margin-bottom-40px {
  margin-bottom: 40px;
}
.margin-bottom-50px {
  margin-bottom: 50px;
}
.margin-bottom-60px {
  margin-bottom: 60px;
}
.margin-left-10px {
  margin-left: 10px;
}
.margin-left-20px {
  margin-left: 20px;
}
.margin-left-30px {
  margin-left: 30px;
}
.margin-left-40px {
  margin-left: 40px;
}
.margin-left-50px {
  margin-left: 50px;
}
.margin-left-60px {
  margin-left: 60px;
}
.margin-right-10px {
  margin-right: 10px;
}
.margin-right-20px {
  margin-right: 20px;
}
.margin-right-30px {
  margin-right: 30px;
}
.margin-right-40px {
  margin-right: 40px;
}
.margin-right-50px {
  margin-right: 50px;
}
.margin-right-60px {
  margin-right: 60px;
}
.margin-10px {
  margin: 10px;
}
.margin-20px {
  margin: 20px;
}
.margin-30px {
  margin: 30px;
}
.margin-40px {
  margin: 40px;
}
.margin-50px {
  margin: 50px;
}
.margin-60px {
  margin: 60px;
}

.padding-top-10px {
  padding-top: 10px;
}
.padding-top-20px {
  padding-top: 20px;
}
.padding-top-30px {
  padding-top: 30px;
}
.padding-top-40px {
  padding-top: 40px;
}
.padding-top-50px {
  padding-top: 50px;
}
.padding-top-60px {
  padding-top: 60px;
}
.padding-bottom-10px {
  padding-bottom: 10px;
}
.padding-bottom-20px {
  padding-bottom: 20px;
}
.padding-bottom-30px {
  padding-bottom: 30px;
}
.padding-bottom-40px {
  padding-bottom: 40px;
}
.padding-bottom-50px {
  padding-bottom: 50px;
}
.padding-bottom-60px {
  padding-bottom: 60px;
}
.padding-left-10px {
  padding-left: 10px;
}
.padding-left-20px {
  padding-left: 20px;
}
.padding-left-30px {
  padding-left: 30px;
}
.padding-left-40px {
  padding-left: 40px;
}
.padding-left-50px {
  padding-left: 50px;
}
.padding-left-60px {
  padding-left: 60px;
}
.padding-right-10px {
  padding-right: 10px;
}
.padding-right-20px {
  padding-right: 20px;
}
.padding-right-30px {
  padding-right: 30px;
}
.padding-right-40px {
  padding-right: 40px;
}
.padding-right-50px {
  padding-right: 50px;
}
.padding-right-60px {
  padding-right: 60px;
}
.padding-10px {
  padding: 10px;
}
.padding-20px {
  padding: 20px;
}
.padding-30px {
  padding: 30px;
}
.padding-40px {
  padding: 40px;
}
.padding-50px {
  padding: 50px;
}
.padding-60px {
  padding: 60px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.direction-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.content-center {
  align-content: center;
}

.gap {
  gap: var(--gouttiere);
}

/* Glassmorphism card effect */
.card {
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--backgroundCard);
  border-radius: 12px;
  border: 1px solid var(--borderColorCard);
}

.card-1h {
  height: 200px;
}

.card-2h {
  height: 420px;
}

.card-3h {
  height: 640px;
}

.card-4h {
  height: 860px;
}

.card-screen-desktop {
  max-height: 380px;
}

.card-screen-mobile {
  max-height: 750px;
}

/*Tablets*/
@media all and (min-width: 640px) and (max-width: 1140px) {
  .card-1h-tablet {
    height: 200px;
  }
  .card-2h-tablet {
    height: 420px;
  }
  .card-3h-tablet {
    height: 640px;
  }
  .card-4h-tablet {
    height: 860px;
  }
  .card-screen-desktop {
    max-height: 600px;
  }
  .card-screen-mobile {
    max-height: 750px;
  }
}
/*Smartphones*/
@media all and (max-width: 640px) {
  .card-1h-smartphone {
    height: 200px;
  }
  .card-2h-smartphone {
    height: 420px;
  }
  .card-3h-smartphone {
    height: 640px;
  }
  .card-4h-smartphone {
    height: 860px;
  }
}
.grid {
  display: grid;
  grid-auto-flow: row dense;
  gap: var(--gouttiere) var(--gouttiere);
}

/* Mise en place du grid pour la partie à propos */
.grid-a-propos {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "a-propos soft-skills" "description description" "formation dev-language" "formation dev-tools";
  /*Tablets*/
  /*Smartphones*/
}
.grid-a-propos .description {
  grid-area: description;
}
.grid-a-propos .a-propos {
  grid-area: a-propos;
}
.grid-a-propos .soft-skills {
  grid-area: soft-skills;
}
.grid-a-propos .formation {
  grid-area: formation;
}
.grid-a-propos .dev-language {
  grid-area: dev-language;
}
.grid-a-propos .dev-tools {
  grid-area: dev-tools;
}
@media all and (min-width: 640px) and (max-width: 1140px) {
  .grid-a-propos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a-propos soft-skills" "description description" "formation dev-language" "formation dev-tools";
  }
}
@media all and (max-width: 640px) {
  .grid-a-propos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a-propos" "soft-skills" "description" "description" "formation" "formation" "dev-language" "dev-tools";
  }
}

/* Mise en place du grid pour la partie carrière */
.grid-carriere {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "carriere-1" "carriere-2" "carriere-3" "carriere-4";
  /*Tablets*/
  /*Smartphones*/
}
.grid-carriere .carriere-1 {
  grid-area: carriere-1;
}
.grid-carriere .carriere-2 {
  grid-area: carriere-2;
}
.grid-carriere .carriere-3 {
  grid-area: carriere-3;
}
.grid-carriere .carriere-4 {
  grid-area: carriere-4;
}
.grid-carriere div > h2 {
  font-size: var(--fontSize15rem);
  width: 100%;
}
.grid-carriere div > h2 > div {
  width: 90%;
}
@media all and (min-width: 640px) and (max-width: 1140px) {
  .grid-carriere {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "carriere-1" "carriere-2" "carriere-3" "carriere-4";
  }
}
@media all and (max-width: 640px) {
  .grid-carriere {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "carriere-1" "carriere-1" "carriere-2" "carriere-2" "carriere-3" "carriere-3" "carriere-4" "carriere-4";
  }
  .grid-carriere div {
    justify-content: flex-start;
    gap: 5px;
  }
}

/* Mise en place du grid pour la partie projets */
.grid-projets {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "projet-1 projet-2" "projet-3 projet-4" "projet-5 projet-6" "projet-7 projet-8";
  /*Tablets*/
  /*Smartphones*/
}
.grid-projets .projet-1 {
  grid-area: projet-1;
}
.grid-projets .projet-2 {
  grid-area: projet-2;
}
.grid-projets .projet-3 {
  grid-area: projet-3;
}
.grid-projets .projet-4 {
  grid-area: projet-4;
}
.grid-projets .projet-5 {
  grid-area: projet-5;
}
.grid-projets .projet-6 {
  grid-area: projet-6;
}
.grid-projets .projet-7 {
  grid-area: projet-7;
}
.grid-projets .projet-8 {
  grid-area: projet-8;
}
.grid-projets div {
  background-position: center;
  background-size: cover;
  font-family: var(--fontTitre);
  font-size: var(--fontSize15rem);
}
@media all and (min-width: 640px) and (max-width: 1140px) {
  .grid-projets {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "projet-1 projet-2" "projet-3 projet-4" "projet-5 projet-6" "projet-7 projet-8";
  }
}
@media all and (max-width: 640px) {
  .grid-projets {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "projet-1" "projet-2" "projet-3" "projet-4" "projet-5" "projet-6" "projet-7" "projet-8";
  }
}

/* Mise en place du grid pour la partie à propos */
.grid-presentation-projet {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "info-projet role-projet presentation-projet presentation-projet" "histo-projet histo-projet histo-projet techno-projet";
  /*Tablets*/
  /*Tablets*/
  /*Smartphones*/
}
.grid-presentation-projet .info-projet {
  grid-area: info-projet;
}
.grid-presentation-projet .role-projet {
  grid-area: role-projet;
}
.grid-presentation-projet .presentation-projet {
  grid-area: presentation-projet;
}
.grid-presentation-projet .histo-projet {
  grid-area: histo-projet;
}
.grid-presentation-projet .techno-projet {
  grid-area: techno-projet;
}
@media all and (min-width: 880px) and (max-width: 1140px) {
  .grid-presentation-projet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "info-projet role-projet techno-projet" "presentation-projet presentation-projet presentation-projet" "histo-projet histo-projet histo-projet";
  }
}
@media all and (min-width: 640px) and (max-width: 880px) {
  .grid-presentation-projet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "info-projet role-projet" "presentation-projet presentation-projet" "histo-projet techno-projet";
  }
}
@media all and (max-width: 640px) {
  .grid-presentation-projet {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "info-projet" "role-projet" "presentation-projet" "presentation-projet" "presentation-projet" "histo-projet" "histo-projet" "histo-projet" "techno-projet";
  }
}

/* Mise en place du grid pour la partie à propos */
.grid-image-mobile-projet {
  gap: var(--gouttiere) 130px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image-mobile-1 image-mobile-2 image-mobile-3";
  /*Tablets*/
  /*Tablets*/
  /*Smartphones*/
}
.grid-image-mobile-projet .image-mobile-1 {
  grid-area: image-mobile-1;
}
.grid-image-mobile-projet .image-mobile-2 {
  grid-area: image-mobile-2;
}
.grid-image-mobile-projet .image-mobile-3 {
  grid-area: image-mobile-3;
}
@media all and (min-width: 980px) and (max-width: 1140px) {
  .grid-image-mobile-projet {
    gap: var(--gouttiere) var(--gouttiere);
  }
}
@media all and (min-width: 640px) and (max-width: 980px) {
  .grid-image-mobile-projet {
    margin-left: 80px;
    margin-right: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image-mobile-1 image-mobile-2" "image-mobile-3 image-mobile-4";
  }
}
@media all and (max-width: 640px) {
  .grid-image-mobile-projet {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "image-mobile-1" "image-mobile-2" "image-mobile-3";
  }
}

/* Mise en place du grid pour la partie à propos */
.grid-image-desktop-projet {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "image-desktop-1 image-desktop-2" "image-desktop-3 image-desktop-4";
  /*Smartphones*/
}
.grid-image-desktop-projet .image-desktop-1 {
  grid-area: image-desktop-1;
}
.grid-image-desktop-projet .image-desktop-2 {
  grid-area: image-desktop-2;
}
.grid-image-desktop-projet .image-desktop-3 {
  grid-area: image-desktop-3;
}
.grid-image-desktop-projet .image-desktop-4 {
  grid-area: image-desktop-4;
}
@media all and (max-width: 1140px) {
  .grid-image-desktop-projet {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "image-desktop-1" "image-desktop-2" "image-desktop-3" "image-desktop-4";
  }
}

/* Style des boutons switch */
/* Div classe switch avec un p pour le libellé et input+label checkbox pour le champ */
.switch p {
  margin-right: var(--gouttiere);
}
.switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.switch input + label {
  background: var(--backgroundColor);
  border: 1px solid var(--textColor);
}
.switch input:checked + label {
  background: var(--firstColor);
}
.switch input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}
.switch label {
  text-indent: -9999px;
  width: 50px;
  height: 28px;
  background: grey;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  margin: 0 8px;
  cursor: pointer;
}
.switch label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--textColor);
  border-radius: 90px;
  transition: 0.3s;
}
.switch label:active:after {
  width: 40px;
}

/* Style du menu */
nav {
  color: var(--firstColor);
  font-size: var(--fontSize15rem);
  font-family: var(--fontAlt);
}
nav .line-before {
  background-color: var(--firstColor);
  height: 2px;
  width: 30px;
  display: inline-block;
  transition: width 200ms linear, height 200ms linear;
  margin-right: var(--gouttiere);
}
nav li:hover .line-before {
  height: 4px;
  width: 60px;
}
nav a {
  display: inline;
}
nav .menu-actif {
  font-weight: 600;
  font-size: var(--fontSize20rem);
}
nav .menu-actif .line-before {
  height: 4px;
  width: 60px;
}

/* Marge pour la partie contact */
.contact {
  margin-top: var(--gouttiere);
}

/* Menu Burger masqué normalement */
.menu-burger {
  display: none;
  /* Affichage en mode smartphone */
}
@media all and (max-width: 1140px) {
  .menu-burger {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding: 5px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 11;
    background-color: var(--firstColor);
  }
  .menu-burger > span {
    width: 30px;
    display: block;
    height: 3px;
    background-color: var(--textColorReverse);
  }
}

/* Croix du menu Burger masqué normalement */
@media all and (max-width: 1140px) {
  .menu-burger-close > span {
    position: absolute;
    transition: transform 400ms linear;
  }
  .menu-burger-close span.burger-top {
    transform: rotate(45deg);
    top: 22px;
    width: 40px;
  }
  .menu-burger-close span.burger-middle {
    display: none;
  }
  .menu-burger-close span.burger-bottom {
    transform: rotate(-45deg);
    top: 22px;
    width: 40px;
  }
}

/* Menu classique */
.menu-navigation {
  /* Masqué en format smartphone */
}
@media all and (max-width: 1140px) {
  .menu-navigation {
    display: none;
  }
}

/* Menu classique */
.menu-navigation-burger {
  display: none;
}
@media all and (max-width: 1140px) {
  .menu-navigation-burger {
    display: block;
  }
}

/* Mise en place des icones de navigation */
.navigation {
  position: fixed;
  bottom: 2vh;
  right: var(--gouttiere);
  z-index: 1;
}
@media all and (max-width: 1140px) {
  .navigation {
    display: none;
  }
}

@media all and (max-width: 1140px) {
  .navigation-projet {
    display: none;
  }
}

.navigation-back {
  position: fixed;
  top: 2vh;
  left: var(--gouttiere);
  z-index: 1;
}
@media all and (max-width: 1140px) {
  .navigation-back {
    left: 10px;
    top: calc(100vh - 50px - 48px - 2vh);
  }
}

.button {
  cursor: pointer;
}

/* Barre de navigation masquée normalement */
.bottom-navigation {
  display: none;
}
@media all and (max-width: 1140px) {
  .bottom-navigation {
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: var(--backgroundColor);
    font-size: var(--fontSize15rem);
  }
  .bottom-navigation .menu-actif-bottom {
    font-weight: 600;
    font-size: var(--fontSize17rem);
  }
  .bottom-navigation li {
    width: 30%;
  }
  .bottom-navigation li.menu-actif-bottom {
    border-top: 2px solid var(--secondColor);
  }
  .bottom-navigation li a {
    color: var(--firstColor);
  }
  .bottom-navigation li.menu-actif-bottom {
    border-top: 2px solid var(--secondColor);
  }
  .bottom-navigation li.menu-actif-bottom a {
    color: var(--secondColor);
  }
}

.bottom-navigation-marge {
  display: none;
}
@media all and (max-width: 1140px) {
  .bottom-navigation-marge {
    width: 100%;
    height: 70px;
    display: block;
  }
}

.picto {
  font-size: var(--fontSize15rem);
  background-color: var(--firstColor);
  color: var(--textColorReverse);
  border-radius: 50%;
  box-shadow: 0px 0px 4px var(--backgroundCard);
}
.picto.picto-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.picto.picto-48 {
  width: 48px;
  height: 48px;
}
.picto.picto-36 {
  width: 36px;
  height: 36px;
}
.picto.rounded {
  border-radius: 50%;
}
.picto.square {
  border-radius: var(--radiusSmall);
}
.picto.fixed-bottom-right {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.modal {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: var(--backgroundColor);
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  max-width: 80%;
}

#btn-close {
  position: absolute;
  top: -20px;
  right: -20px;
}

/********** Général **********/
body {
  font-family: var(--fontTexte);
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-size: var(--fontSize10rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontTitre);
}

h2 {
  font-size: var(--fontSize20rem);
  color: var(--firstColor);
  border-bottom: 1px solid var(--borderColorCard);
}

h3 {
  font-size: var(--fontSize12rem);
  color: var(--secondColor);
}

em {
  font-family: var(--fontTitre);
  font-size: var(--fontSize15rem);
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--secondColor);
}

ul.liste {
  list-style: disc;
  list-style-position: outside;
  margin-left: var(--gouttiere);
}

.display-none {
  display: none;
}

.responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mise en place des backgrounds */
/* Background général */
.background {
  background-position: right;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100%;
}

/* Background pour l'effet sur le pointeur */
.background-pointer {
  position: fixed;
  pointer-events: none;
  z-index: 30;
  inset: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  transition-duration: 0.3s;
  transition-property: background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Image pour la background de l'accueil */
.bg-accueil {
  background-image: url("../img/background/background-accueil.jpg");
  background-position: right;
}
@media all and (max-width: 1140px) {
  .bg-accueil {
    background-image: url("../img/background/background-accueil-1140.jpg");
    background-position: center;
  }
}

/* Image pour la background d'une page projet */
.bg-projet {
  background-position: center;
  background-image: linear-gradient(var(--backgroundOpaciteColor) 0%, var(--backgroundOpaciteColor) 100%), url("../img/background/background-projet.jpg");
  background-size: cover;
}

/* Mise en place du header avec la photo, les options et le menu */
.header-accueil {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: var(--backgroundColor);
}
.header-accueil img {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}
@media all and (max-width: 1140px) {
  .header-accueil {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: transform 400ms linear;
    transform: translateX(-100%);
  }
}

/* Transformation pour l'affichage du header en smartphone */
@media all and (max-width: 1140px) {
  .header-accueil-affiche {
    transform: translateX(0);
  }
}

/* Mise en forme des sections avec la mise en page bento */
main {
  position: relative;
}
main div.section {
  transition: opacity 400ms ease-in-out;
  width: calc(100% - var(--marginDesktop));
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
@media all and (max-width: 1140px) {
  main div.section {
    transition: opacity 400ms ease-in-out;
    width: calc(100% - var(--marginSmartphone) * 2);
    position: absolute;
    top: 0;
    left: var(--marginSmartphone);
  }
}
main div.opacity-yes {
  opacity: 0;
  z-index: -10;
  height: 0;
}
main div.opacity-none {
  opacity: 1;
  z-index: 0;
  height: auto;
}

/********** Page d'un projet **********/
/* Mise en place du header spécifique avec l'image du projet */
.header-projet {
  position: fixed;
  top: 0;
  z-index: 1;
}
.header-projet .image-projet {
  background-image: url("../img/images/projet-moovizy-ux.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 0 0 50px 50px;
  border: 1px solid var(--borderColorCard);
  transition: height 400ms linear;
  font-size: 1.5rem;
}
.header-projet.header-projet-max .image-projet {
  height: calc(45vh - 57px);
}
@media all and (max-width: 640px) {
  .header-projet.header-projet-max .image-projet {
    height: 70px;
    background-image: url("../img/images/projet-moovizy-ux-70.png");
  }
}
.header-projet.header-projet-min .image-projet {
  background-image: url("../img/images/projet-moovizy-ux-70.png");
  height: 70px;
}
@media all and (max-width: 640px) {
  .header-projet.header-projet-min .image-projet {
    height: 70px;
  }
}
.header-projet nav {
  color: var(--textColor);
}
.header-projet nav .contact {
  margin-top: 0;
}
.header-projet nav a {
  color: var(--textColor);
}

.header-projet-max {
  height: 45vh;
}
@media all and (max-width: 1140px) {
  .header-projet-max {
    height: calc(45vh - 57px);
  }
}
@media all and (max-width: 640px) {
  .header-projet-max {
    height: 70px;
  }
}

.header-projet-min {
  height: 127px;
}
@media all and (max-width: 1140px) {
  .header-projet-min {
    height: 70px;
  }
}

.main-projet div.section {
  width: calc(100% - var(--marginDesktop) * 2);
  left: var(--marginDesktop);
}
@media all and (max-width: 1440px) {
  .main-projet div.section {
    width: calc(100% - var(--marginSmartphone) * 2);
    left: var(--marginSmartphone);
  }
}

.grid-image-mobile-projet img {
  border-radius: 12px;
}

.grid-image-desktop-projet img {
  border-radius: 12px;
}

/*# sourceMappingURL=style.css.map */
