@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "HinaMincho";
  src: url("../fonts/HinaMincho/HinaMincho-Regular.ttf");
}
@font-face {
  font-family: "KiwiMaru";
  src: url("../fonts/KiwiMaru/KiwiMaru-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf");
}
:root {
  /* TYPOGRAPHIE */
  --fontTitre: "HinaMincho";
  --fontTexte: "OpenSans";
  --fontAlt: "KiwiMaru";
  /* Palette de couleurs */
  --firstColor: #81A760;
  --secondColor: #4EAAA5;
  --thirdColor: #EBE3D5;
  --fourthColor: #F3EEEA;
  --fifthColor: #B4B4B8;
  /* Couleur de texte */
  --textColorLight: #000000;
  --textColorDark: #FFFFFF;
  /* Couleurs standards */
  --whiteColor: #FFFFFF;
  --blackColor: #000000;
  --succesColor: hsl(113, 53%, 53%)	;
  --warningColor: hsl(39, 100%, 67%)	;
  --errorColor: hsl(0, 100%, 61%)	;
  --infoColor: hsl(204, 86%, 53%);
  /* Couleur de fond */
  --backgroundColorLight: #FFFFFF;
  --backgroundColorDark: #303030;
  --backgroundColor1: #F3EEEA;
  --backgroundColor2: #EBE3D5;
  --backgroundColor3: #B0A695;
  /* Gouttières et Espacements */
  --gouttiere: 20px;
  --marginDesktop: 80px;
  --marginTablet: 40px;
  --marginPhone: 20px;
  /* RADIUS */
  --radiusLarge: 30px;
  --radiusMedium: 20px;
  --radiusSmall: 10px;
  --radiusRond: 50%;
  /* TAILLE D'ELEMENTS FIXE */
  --heightHeader: 80px;
}

/************* Layout Grid pour les différents format **************/
/*Generation des classes pour la largeur des colonnes selon 
les resolutions d'ecrans*/
/*Desktop*/
.large-1-12 {
  width: calc(8.3333333333% - 11 * var(--gouttiere) / 12);
}
.large-2-12 {
  width: calc(16.6666666667% - 5 * var(--gouttiere) / 6);
}
.large-3-12 {
  width: calc(25% - 3 * var(--gouttiere) / 4);
}
.large-4-12 {
  width: calc(33.3333333333% - 2 * var(--gouttiere) / 3);
}
.large-5-12 {
  width: calc(41.6666666667% - 1.4 * var(--gouttiere) / 2.4);
}
.large-6-12 {
  width: calc(50% - 1 * var(--gouttiere) / 2);
}
.large-7-12 {
  width: calc(58.3333333333% - 0.7142857143 * var(--gouttiere) / 1.7142857143);
}
.large-8-12 {
  width: calc(66.6666666667% - 0.5 * var(--gouttiere) / 1.5);
}
.large-9-12 {
  width: calc(75% - 0.3333333333 * var(--gouttiere) / 1.3333333333);
}
.large-10-12 {
  width: calc(83.3333333333% - 0.2 * var(--gouttiere) / 1.2);
}
.large-11-12 {
  width: calc(91.6666666667% - 0.0909090909 * var(--gouttiere) / 1.0909090909);
}
.large-12-12 {
  width: calc(100% - 0 * var(--gouttiere) / 1);
}

/*Container Desktop*/
.container-full {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.container-marges {
  padding-left: var(--marginDesktop);
  padding-right: var(--marginDesktop);
}

.container-marges-left {
  padding-left: var(--marginDesktop);
}

.container-marges-right {
  padding-right: var(--marginDesktop);
}

/*Tablets*/
@media all and (min-width: 500px) and (max-width: 1024px) {
  .medium-1-8 {
    width: calc(12.5% - 7 * var(--gouttiere) / 8);
  }
  .medium-2-8 {
    width: calc(25% - 3 * var(--gouttiere) / 4);
  }
  .medium-3-8 {
    width: calc(37.5% - 1.6666666667 * var(--gouttiere) / 2.6666666667);
  }
  .medium-4-8 {
    width: calc(50% - 1 * var(--gouttiere) / 2);
  }
  .medium-5-8 {
    width: calc(62.5% - 0.6 * var(--gouttiere) / 1.6);
  }
  .medium-6-8 {
    width: calc(75% - 0.3333333333 * var(--gouttiere) / 1.3333333333);
  }
  .medium-7-8 {
    width: calc(87.5% - 0.1428571429 * var(--gouttiere) / 1.1428571429);
  }
  .medium-8-8 {
    width: calc(100% - 0 * var(--gouttiere) / 1);
  }
  /*Container Tablet*/
  .container-full {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--marginTablet);
    padding-right: var(--marginTablet);
  }
}
/*Smartphones*/
@media all and (max-width: 500px) {
  .small-1-4 {
    width: calc(25% - 3 * var(--gouttiere) / 4);
  }
  .small-2-4 {
    width: calc(50% - 1 * var(--gouttiere) / 2);
  }
  .small-3-4 {
    width: calc(75% - 0.3333333333 * var(--gouttiere) / 1.3333333333);
  }
  .small-4-4 {
    width: calc(100% - 0 * var(--gouttiere) / 1);
  }
  /*Container Tablet*/
  .container-full {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--marginPhone);
    padding-right: var(--marginPhone);
  }
}
/************* Marges et Paddings Génériques **************/
/* On génère des marges multiples de 10 */
/* Génération des margins */
/* Génération des paddings */
.margin-top-10px {
  margin-top: 10px;
}
.margin-top-20px {
  margin-top: 20px;
}
.margin-top-30px {
  margin-top: 30px;
}
.margin-top-40px {
  margin-top: 40px;
}
.margin-top-50px {
  margin-top: 50px;
}
.margin-top-60px {
  margin-top: 60px;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.margin-bottom-20px {
  margin-bottom: 20px;
}
.margin-bottom-30px {
  margin-bottom: 30px;
}
.margin-bottom-40px {
  margin-bottom: 40px;
}
.margin-bottom-50px {
  margin-bottom: 50px;
}
.margin-bottom-60px {
  margin-bottom: 60px;
}
.margin-left-10px {
  margin-left: 10px;
}
.margin-left-20px {
  margin-left: 20px;
}
.margin-left-30px {
  margin-left: 30px;
}
.margin-left-40px {
  margin-left: 40px;
}
.margin-left-50px {
  margin-left: 50px;
}
.margin-left-60px {
  margin-left: 60px;
}
.margin-right-10px {
  margin-right: 10px;
}
.margin-right-20px {
  margin-right: 20px;
}
.margin-right-30px {
  margin-right: 30px;
}
.margin-right-40px {
  margin-right: 40px;
}
.margin-right-50px {
  margin-right: 50px;
}
.margin-right-60px {
  margin-right: 60px;
}
.margin-10px {
  margin: 10px;
}
.margin-20px {
  margin: 20px;
}
.margin-30px {
  margin: 30px;
}
.margin-40px {
  margin: 40px;
}
.margin-50px {
  margin: 50px;
}
.margin-60px {
  margin: 60px;
}

.padding-top-10px {
  padding-top: 10px;
}
.padding-top-20px {
  padding-top: 20px;
}
.padding-top-30px {
  padding-top: 30px;
}
.padding-top-40px {
  padding-top: 40px;
}
.padding-top-50px {
  padding-top: 50px;
}
.padding-top-60px {
  padding-top: 60px;
}
.padding-bottom-10px {
  padding-bottom: 10px;
}
.padding-bottom-20px {
  padding-bottom: 20px;
}
.padding-bottom-30px {
  padding-bottom: 30px;
}
.padding-bottom-40px {
  padding-bottom: 40px;
}
.padding-bottom-50px {
  padding-bottom: 50px;
}
.padding-bottom-60px {
  padding-bottom: 60px;
}
.padding-left-10px {
  padding-left: 10px;
}
.padding-left-20px {
  padding-left: 20px;
}
.padding-left-30px {
  padding-left: 30px;
}
.padding-left-40px {
  padding-left: 40px;
}
.padding-left-50px {
  padding-left: 50px;
}
.padding-left-60px {
  padding-left: 60px;
}
.padding-right-10px {
  padding-right: 10px;
}
.padding-right-20px {
  padding-right: 20px;
}
.padding-right-30px {
  padding-right: 30px;
}
.padding-right-40px {
  padding-right: 40px;
}
.padding-right-50px {
  padding-right: 50px;
}
.padding-right-60px {
  padding-right: 60px;
}
.padding-10px {
  padding: 10px;
}
.padding-20px {
  padding: 20px;
}
.padding-30px {
  padding: 30px;
}
.padding-40px {
  padding: 40px;
}
.padding-50px {
  padding: 50px;
}
.padding-60px {
  padding: 60px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.direction-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap {
  gap: var(--gouttiere);
}

/* Glassmorphism card effect */
.card {
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(48, 48, 48, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.card-1h {
  height: 200px;
}

.card-2h {
  height: 420px;
}

.card-4h {
  height: 840px;
}

.grid {
  display: grid;
  grid-auto-flow: row dense;
  gap: var(--gouttiere) var(--gouttiere);
}

/********** Général **********/
body {
  font-family: var(--fontTexte);
  background-color: var(--backgroundColorDark);
  color: var(--textColorDark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontTitre);
}

h1 {
  font-size: 2rem;
  color: var(--firstColor);
}

a {
  text-decoration: none;
  color: var(--secondColor);
}

.display-none {
  display: none;
}

.picto-48 {
  width: 48px;
  height: 48px;
}

.picto-36 {
  width: 36px;
  height: 36px;
}

/********** Page d'accueil **********/
/* Mise en place du background */
.background {
  background-position: right;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100%;
}

.bg-accueil {
  background-image: url("../img/background/background-accueil.jpg");
  background-position: right;
}

/* Mise en place du header avec la photo, l'accroche et le menu */
.header-accueil {
  position: sticky;
  top: 0;
  height: 100vh;
}

.header-accueil img {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}

.header-accueil nav {
  color: var(--firstColor);
  font-size: 1.5rem;
  font-family: var(--fontAlt);
}

.header-accueil nav a {
  display: inline;
}

.header-accueil nav ul {
  color: var(--firstColor);
  border-left: 2px solid var(--firstColor);
  padding-left: var(--gouttiere);
}

.menu-actif {
  font-weight: 600;
  font-size: 2rem;
}

/* Mise en place des icones de navigation */
.navigation {
  position: fixed;
  top: 85vh;
  right: 20px;
}

.navigation .button {
  cursor: pointer;
}

.picto {
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
  background-color: var(--firstColor);
  color: var(--blackColor);
  border-radius: 50%;
}

/* Mise en place du grid pour la partie à propos */
.grid-a-propos {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "a-propos soft-skills" "description description" "formation dev-language" "formation dev-tools";
}

.description {
  grid-area: description;
}

.a-propos {
  grid-area: a-propos;
}

.soft-skills {
  grid-area: soft-skills;
}

.formation {
  grid-area: formation;
}

.dev-language {
  grid-area: dev-language;
}

.dev-tools {
  grid-area: dev-tools;
}

/* Mise en place du grid pour la partie carrière */
.grid-carriere {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "carriere-1" "carriere-2" "carriere-3" "carriere-4";
}

.carriere-1 {
  grid-area: carriere-1;
}

.carriere-2 {
  grid-area: carriere-2;
}

.carriere-3 {
  grid-area: carriere-3;
}

.carriere-4 {
  grid-area: carriere-4;
}

/* Mise en place du grid pour la partie projets */
.grid-projets {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "projet-1 projet-2" "projet-3 projet-4" "projet-5 projet-6" "projet-7 projet-8";
}

.projet-1 {
  grid-area: projet-1;
}

.projet-2 {
  grid-area: projet-2;
}

.projet-3 {
  grid-area: projet-3;
}

.projet-4 {
  grid-area: projet-4;
}

.projet-5 {
  grid-area: projet-5;
}

.projet-6 {
  grid-area: projet-6;
}

.projet-7 {
  grid-area: projet-7;
}

.projet-8 {
  grid-area: projet-8;
}

.plus-projet {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-image: url("../img/icons/plus.png");
  background-size: contain;
}

/********** Page d'un projet **********/
/* Mise en place du background */
.background {
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100%;
}

.bg-projet {
  background-position: center;
  background-image: url("../img/background/background-projet.jpg");
  background-size: cover;
}

/* Mise en place du header avec la photo, l'accroche et le menu */
.header-projet {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-projet-max {
  height: 45vh;
}

.header-projet-min {
  height: 70px;
}

.header-projet .image-projet {
  background-image: url("../img/images/projet-moovizy-ux.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 0 0 50px 50px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

/* Mise en place du grid pour la partie à propos */
.grid-presentation-projet {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "info-projet role-projet presentation-projet presentation-projet" "histo-projet histo-projet histo-projet techno-projet";
}

.info-projet {
  grid-area: info-projet;
}

.role-projet {
  grid-area: role-projet;
}

.presentation-projet {
  grid-area: presentation-projet;
}

.histo-projet {
  grid-area: histo-projet;
}

.techno-projet {
  grid-area: techno-projet;
}

/* Mise en place du grid pour la partie à propos */
.grid-image-mobile-projet {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image-mobile-1 image-mobile-2 image-mobile-3";
}

.image-mobile-1 {
  grid-area: image-mobile-1;
}

.image-mobile-2 {
  grid-area: image-mobile-2;
}

.image-mobile-3 {
  grid-area: image-mobile-3;
}

/* Mise en place du grid pour la partie à propos */
.grid-image-desktop-projet {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "image-desktop-1 image-desktop-2" "image-desktop-3 image-desktop-4";
}

.image-desktop-1 {
  grid-area: image-desktop-1;
}

.image-desktop-2 {
  grid-area: image-desktop-2;
}

.image-desktop-3 {
  grid-area: image-desktop-3;
}

.image-desktop-4 {
  grid-area: image-desktop-4;
}

/*# sourceMappingURL=style.css.map */
