/* Glassmorphism card effect */
.card {
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(48, 48, 48, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.card-1h {
    height: 200px;
}
.card-2h {
    height: 420px;
}
.card-4h {
    height: 840px;
}