.flex {
    display: flex;
    flex-wrap: wrap;
}

.direction-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.content-center {
    align-content: center;
}

.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}

.gap {
    gap: var(--gouttiere);
}