.grid {
    display: grid;
    grid-auto-flow: row dense;
    gap: var(--gouttiere) var(--gouttiere);
}

/* Mise en place du grid pour la partie à propos */
.grid-a-propos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a-propos soft-skills"
        "description description"
        "formation dev-language"
        "formation dev-tools";

    .description {
        grid-area: description;
    }

    .a-propos {
        grid-area: a-propos;
    }

    .soft-skills {
        grid-area: soft-skills;
    }

    .formation {
        grid-area: formation;
    }

    .dev-language {
        grid-area: dev-language;
    }

    .dev-tools {
        grid-area: dev-tools;
    }

    /*Tablets*/
    @media all and (min-width : $widthSmartphone) and (max-width : $widthTablet) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "a-propos soft-skills"
            "description description"
            "formation dev-language"
            "formation dev-tools";
    }

    /*Smartphones*/
    @media all and (max-width : $widthSmartphone) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "a-propos"
            "soft-skills"
            "description"
            "description"
            "formation"
            "formation"
            "dev-language"
            "dev-tools";
    }
}

/* Mise en place du grid pour la partie carrière */
.grid-carriere {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "carriere-1"
        "carriere-2"
        "carriere-3"
        "carriere-4";

    .carriere-1 {
        grid-area: carriere-1;
    }

    .carriere-2 {
        grid-area: carriere-2;
    }

    .carriere-3 {
        grid-area: carriere-3;
    }

    .carriere-4 {
        grid-area: carriere-4;
    }

    div>h2 {
        font-size: var(--fontSize15rem);
        width: 100%;
    }

    div>h2>div {
        width: 90%;
    }

    /*Tablets*/
    @media all and (min-width : $widthSmartphone) and (max-width : $widthTablet) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "carriere-1"
            "carriere-2"
            "carriere-3"
            "carriere-4";
    }

    /*Smartphones*/
    @media all and (max-width : $widthSmartphone) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "carriere-1"
            "carriere-1"
            "carriere-2"
            "carriere-2"
            "carriere-3"
            "carriere-3"
            "carriere-4"
            "carriere-4";

        div {
            justify-content: flex-start;
            gap: 5px;
        }
    }
}

/* Mise en place du grid pour la partie projets */
.grid-projets {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "projet-1 projet-2"
        "projet-3 projet-4"
        "projet-5 projet-6"
        "projet-7 projet-8";

    .projet-1 {
        grid-area: projet-1;
    }

    .projet-2 {
        grid-area: projet-2;
    }

    .projet-3 {
        grid-area: projet-3;
    }

    .projet-4 {
        grid-area: projet-4;
    }

    .projet-5 {
        grid-area: projet-5;
    }

    .projet-6 {
        grid-area: projet-6;
    }

    .projet-7 {
        grid-area: projet-7;
    }

    .projet-8 {
        grid-area: projet-8;
    }

    div {
        background-position: center;
        background-size: cover;
        font-family: var(--fontTitre);
        font-size: var(--fontSize15rem);
    }

    /*Tablets*/
    @media all and (min-width : $widthSmartphone) and (max-width : $widthTablet) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "projet-1 projet-2"
            "projet-3 projet-4"
            "projet-5 projet-6"
            "projet-7 projet-8";
    }

    /*Smartphones*/
    @media all and (max-width : $widthSmartphone) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "projet-1"
            "projet-2"
            "projet-3"
            "projet-4"
            "projet-5"
            "projet-6"
            "projet-7"
            "projet-8";
    }
}






/* Mise en place du grid pour la partie à propos */
.grid-presentation-projet {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "info-projet role-projet presentation-projet presentation-projet"
        "histo-projet histo-projet histo-projet techno-projet";

    .info-projet {
        grid-area: info-projet;
    }

    .role-projet {
        grid-area: role-projet;
    }

    .presentation-projet {
        grid-area: presentation-projet;
    }

    .histo-projet {
        grid-area: histo-projet;
    }

    .techno-projet {
        grid-area: techno-projet;
    }

    .grid-case-vide1 {
        grid-area: grid-case-vide1;
        display: none;
        @media all and (min-width : $widthSmartphone) and (max-width : 880px) {
            display: flex;
        }   
    }
    
    .grid-case-vide2 {
        grid-area: grid-case-vide2;
        display: none;
        @media all and (min-width : $widthSmartphone) and (max-width : 880px) {
            display: flex;
        }  
    }

    /*Tablets*/
    @media all and (min-width : 880px) and (max-width : $widthTablet) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "info-projet role-projet techno-projet"
            "presentation-projet presentation-projet presentation-projet"
            "histo-projet histo-projet histo-projet";
    }

    /*Tablets*/
    @media all and (min-width : $widthSmartphone) and (max-width : 880px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "info-projet role-projet"
            "presentation-projet presentation-projet"
            "histo-projet grid-case-vide1"
            "histo-projet techno-projet"
            "histo-projet grid-case-vide2";
    }


    /*Smartphones*/
    @media all and (max-width : $widthSmartphone) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "info-projet"
            "role-projet"
            "presentation-projet" 
            "presentation-projet"
            "presentation-projet"
            "histo-projet"
            "histo-projet"
            "histo-projet"
            "techno-projet";
    }
}



/* Mise en place du grid pour la partie à propos */
.grid-image-mobile-projet {
    gap: var(--gouttiere) 130px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "image-mobile-1 image-mobile-2 image-mobile-3";

    .image-mobile-1 {
        grid-area: image-mobile-1;
    }

    .image-mobile-2 {
        grid-area: image-mobile-2;
    }

    .image-mobile-3 {
        grid-area: image-mobile-3;
    }

    .image-mobile-4 {
        grid-area: image-mobile-4;
        display: none;
        @media all and (min-width : $widthSmartphone) and (max-width : 980px) {
            display: block;
        }

        /*Smartphones*/
        @media all and (max-width : $widthSmartphone) {
            display: none;
        }
    }
    
    img {
        cursor: pointer;
    }

     /*Tablets*/
     @media all and (min-width : 980px) and (max-width : $widthTablet) {
        gap: var(--gouttiere) var(--gouttiere);
    }

     /*Tablets*/
     @media all and (min-width : $widthSmartphone) and (max-width : 980px) {
        margin-left: 80px;
        margin-right: 80px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "image-mobile-1 image-mobile-2"
            "image-mobile-3 image-mobile-4";
    }

    /*Smartphones*/
    @media all and (max-width : $widthSmartphone) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "image-mobile-1"
            "image-mobile-2"
            "image-mobile-3";
    }
}



/* Mise en place du grid pour la partie à propos */
.grid-image-desktop-projet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image-desktop-1 image-desktop-2"
        "image-desktop-3 image-desktop-4";

    .image-desktop-1 {
        grid-area: image-desktop-1;
    }

    .image-desktop-2 {
        grid-area: image-desktop-2;
    }

    .image-desktop-3 {
        grid-area: image-desktop-3;
    }

    .image-desktop-4 {
        grid-area: image-desktop-4;
    }

    img {
        cursor: pointer;
    }

    /*Smartphones*/
    @media all and (max-width : $widthTablet) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "image-desktop-1"
            "image-desktop-2"
            "image-desktop-3"
            "image-desktop-4";
    }
}

/* Mise en place du grid pour la partie à propos */
.grid-mentions {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "mentions-infos mentions-donnees mentions-rgpd";

    .mentions-infos {
        grid-area: mentions-infos;
    }

    .mentions-donnees {
        grid-area: mentions-donnees;
    }

    .mentions-rgpd {
        grid-area: mentions-rgpd;
    }

    /*Tablets*/
    @media all and (min-width : $widthSmartphone) and (max-width : $widthTablet) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "a-propos soft-skills"
            "description description"
            "formation dev-language"
            "formation dev-tools";
    }

    /*Smartphones*/
    @media all and (max-width : $widthSmartphone) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "a-propos"
            "soft-skills"
            "description"
            "description"
            "formation"
            "formation"
            "dev-language"
            "dev-tools";
    }
}