@import "./reset.scss";
@import "./variables.scss";

@import "./components/_layout.scss";
@import "./components/_flexbox.scss";
@import "./components/_card.scss";
@import "./components/_grid.scss";


/********** Général **********/
body {
    font-family: var(--fontTexte);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fontTitre);
}

h1 {
    font-size: 2rem;
    color: var(--firstColor);
}

a {
    text-decoration: none;
    color: var(--secondColor);
}

.display-none {
    display: none;
}

.picto-48 {
    width: 48px;
    height: 48px;
}
.picto-36 {
    width: 36px;
    height: 36px;
}

/********** Page d'accueil **********/
/* Mise en place du background */
.background {
    background-position: right;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100vh;
    width: 100%;
}

.bg-accueil {
    background-image: url("../img/background/background-accueil.jpg");
    background-position: right;
}

/* Mise en place du header avec la photo, l'accroche et le menu */
.header-accueil {
    position: sticky;
    top: 0;
    height: 100vh;
}

.header-accueil img {
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
}

.header-accueil nav {
    color: var(--firstColor);
    font-size: 1.5rem;
    font-family: var(--fontAlt);
}

.header-accueil nav a {
    display: inline;
}

.header-accueil nav ul {
    color: var(--firstColor);
    border-left: 2px solid var(--firstColor);
    padding-left: var(--gouttiere);
}

.menu-actif {
    font-weight: 600;
    font-size: 2rem;
}

/* Mise en place des icones de navigation */
.navigation {
    position: fixed;
    top: 85vh;
    right: 20px;
}
.navigation img {
    cursor: pointer;
}

/* Mise en place du grid pour la partie à propos */
.grid-a-propos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a-propos soft-skills"
        "description description"
        "formation dev-language"
        "formation dev-tools";
}

.description {
    grid-area: description;
}

.a-propos {
    grid-area: a-propos;
}

.soft-skills {
    grid-area: soft-skills;
}

.formation {
    grid-area: formation;
}

.dev-language {
    grid-area: dev-language;
}

.dev-tools {
    grid-area: dev-tools;
}

/* Mise en place du grid pour la partie carrière */
.grid-carriere {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "carriere-1"
        "carriere-2"
        "carriere-3"
        "carriere-4";
}

.carriere-1 {
    grid-area: carriere-1;
}

.carriere-2 {
    grid-area: carriere-2;
}

.carriere-3 {
    grid-area: carriere-3;
}

.carriere-4 {
    grid-area: carriere-4;
}

/* Mise en place du grid pour la partie projets */
.grid-projets {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "projet-1 projet-2"
        "projet-3 projet-4"
        "projet-5 projet-6"
        "projet-7 projet-8";
}

.projet-1 {
    grid-area: projet-1;
}

.projet-2 {
    grid-area: projet-2;
}

.projet-3 {
    grid-area: projet-3;
}

.projet-4 {
    grid-area: projet-4;
}

.projet-5 {
    grid-area: projet-5;
}

.projet-6 {
    grid-area: projet-6;
}

.projet-7 {
    grid-area: projet-7;
}

.projet-8 {
    grid-area: projet-8;
}

.plus-projet {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-image: url("../img/icons/plus.png");
    background-size: contain;
}

/********** Page d'un projet **********/
/* Mise en place du background */
.background {
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100vh;
    width: 100%;
}

.bg-projet {
    background-position: center;
    background-image: url("../img/background/background-projet.jpg");
    background-size: cover;
}

/* Mise en place du header avec la photo, l'accroche et le menu */
.header-projet {
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-projet-max {
    height: 45vh;
}
.header-projet-min {
    height: 70px;
}
.header-projet .image-projet {
    background-image: url("../img/images/projet-moovizy-ux.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%; 
    border-radius: 0 0 50px 50px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

/* Mise en place du grid pour la partie à propos */
.grid-presentation-projet {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "info-projet role-projet presentation-projet presentation-projet"
        "histo-projet histo-projet histo-projet techno-projet";
}

.info-projet {
    grid-area: info-projet;
}

.role-projet {
    grid-area: role-projet;
}

.presentation-projet {
    grid-area: presentation-projet;
}

.histo-projet {
    grid-area: histo-projet;
}

.techno-projet {
    grid-area: techno-projet;
}

/* Mise en place du grid pour la partie à propos */
.grid-image-mobile-projet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "image-mobile-1 image-mobile-2 image-mobile-3";
}

.image-mobile-1 {
    grid-area: image-mobile-1;
}

.image-mobile-2 {
    grid-area: image-mobile-2;
}

.image-mobile-3 {
    grid-area: image-mobile-3;
}

/* Mise en place du grid pour la partie à propos */
.grid-image-desktop-projet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image-desktop-1 image-desktop-2"
        "image-desktop-3 image-desktop-4";
}

.image-desktop-1 {
    grid-area: image-desktop-1;
}

.image-desktop-2 {
    grid-area: image-desktop-2;
}

.image-desktop-3 {
    grid-area: image-desktop-3;
}

.image-desktop-4 {
    grid-area: image-desktop-4;
}