@import "./reset.scss";
@import "./variables.scss";

@import "./components/_layout.scss";


.background {
    background-position: right;
    background-repeat: no-repeat;
    height:100vh;
    width: 100%;
    position: fixed;
    right:0;
}
.bg-accueil {
    background-image: url("../img/background/background-accueil.jpg");
}