@font-face {
    font-family: 'HinaMincho';
    src: url("../fonts/HinaMincho/HinaMincho-Regular.ttf");
}

@font-face {
    font-family: 'KiwiMaru';
    src: url("../fonts/KiwiMaru/KiwiMaru-Regular.ttf");
}

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: 'Luciole';
    src: url("../fonts/Luciole/Luciole-Regular.ttf");
}

:root {
    /* TYPOGRAPHIE */
    --fontTitre: 'HinaMincho';
    --fontTexte: 'OpenSans';
    --fontAlt: 'KiwiMaru';

    /* Gouttières et Espacements */
    --gouttiere: 20px;
    --marginDesktop: 80px;
    --marginTablet: 40px;
    --marginSmartphone: 20px;

    /* RADIUS */
    --radiusLarge: 30px;
    --radiusMedium: 20px;
    --radiusSmall: 10px;
    --radiusRond: 50%;
}