@font-face {
    font-family: 'HinaMincho';
    src: url("../fonts/HinaMincho/HinaMincho-Regular.ttf");
}

@font-face {
    font-family: 'KiwiMaru';
    src: url("../fonts/KiwiMaru/KiwiMaru-Regular.ttf");
}

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: 'Luciole';
    src: url("../fonts/Luciole/Luciole-Regular.ttf");
}

/* Variables SCSS */
$numberColumnDesktop: 12;
$numberColumnTablet: 8;
$numberColumnSmartphone: 4;

$widthDesktop: 1440px;
$widthTablet: 1140px;
$widthSmartphone: 640px;

:root {
    /* TYPOGRAPHIE */
    --fontTitre: 'HinaMincho';
    --fontTexte: 'OpenSans';
    --fontAlt: 'KiwiMaru';
    --fontSize20rem: 2rem;
    --fontSize17rem: 1.7rem;
    --fontSize15rem: 1.5rem;
    --fontSize12rem: 1.2rem;
    --fontSize10rem: 1rem;

    /* Gouttières et Espacements */
    --gouttiere: 20px;
    --marginDesktop: 80px;
    --marginTablet: 20px;
    --marginSmartphone: 20px;

    /* RADIUS */
    --radiusLarge: 30px;
    --radiusMedium: 20px;
    --radiusSmall: 10px;
    --radiusRond: 50%;
}

